body {
  font-family: 'Poppins', sans-serif;
  /* background-color: rgb(109, 40, 238); */
}

.desktop-logo {
  color: #ffffff;
  font-size: 28px;
}

.mobile-logo {
  font-size: 28px;
  font-weight: 600;
}

.navbar-nav .nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.lead {
  font-weight: 200;
}

.hero-profile-name {
  color: #fff;
  margin-top: 20px;
}

.wrapper-skill {
  padding: 12px 0;
  border: 1px solid lightgray;
  border-radius: 4px;
  text-align: center;
  font-size: 30px;
  width: 100%;
  color: #172b4d;
}

.custom-heading {
  color: #172b4d;
}

.col-skill {
  padding: 16px 16px;
}