body {
  font-family: 'Poppins', sans-serif;
  /* background-color: rgb(109, 40, 238); */
}

.desktop-logo {
  color: #ffffff;
  font-size: 28px;
}

.mobile-logo {
  font-size: 28px;
  font-weight: 600;
}

.navbar-nav .nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.lead {
  font-weight: 200;
}

.hero-profile-name {
  color: #fff;
  margin-top: 20px;
}

.photo-about {
  width: 400px;
}